# Dart and Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec_overrides.yaml

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
*.jks
*.keystore

# Editors and operating systems
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
